<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize ANARCHY.actor.monitors.heat}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="system.monitors.heat.max"
      value="{{system.monitors.heat.max}}"
    />
  </label>
  {{> "systems/mwd/templates/common/checkbar.hbs"
    code='heat'
    value=system.monitors.heat.value
    max=system.monitors.heat.max
    rowlength=6
  }}
  <div class="resistance-row">
    <label class="resitance-label">
      {{localize ANARCHY.actor.monitors.resistanceBase}}
      <input class="info-value" type="number" data-dtype="Number" maxlength="2"
        name="system.monitors.heat.resistance.default"
        value="{{system.monitors.heat.resistance.default}}"
      />
      {{#if system.monitors.heat.resistanceBonus}}
      {{numberFormat system.monitors.heat.resistanceBonus sign=true}}
      {{/if}}
    </label>
    <button type="button" class="anarchy-button click-resistance-by-type" data-monitor-code="heat">
      {{localize ANARCHY.actor.monitors.resistanceByTypeButton}}
    </button>
  </div>
</div>
