<form class="anarchy-dialog roll-dialog">
  <div class="flexrow">
    <div class="column-images">
      <img class="anarchy-img actor-img" src="{{actor.img}}" alt="{{actor.name}}" data-tooltip="{{actor.name}}"/>
      {{> (concat 'systems/mwd/templates/roll/parts/image-' mode '.hbs')}}
      {{#if pilot}}
        <div class="pilot-usage-note">{{localize 'ANARCHY.actor.vehicle.pilot.usingPilot' pilot=pilot.name}}</div>
      {{/if}}
    </div>
    <div class="roll-parameters">
      <div class="parameter-category">
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='pool'}}
      </div>
      <div class="parameter-category">
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='reroll'}}
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='rerollForced'}}
      </div>
      <div class="parameter-category">
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='glitch'}}
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='drain'}}
      </div>
      <div class="parameter-category">
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='edge'}}
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='risk'}}
      </div>
      <div class="parameter-category">
        <label>{{localize 'ANARCHY.common.roll.opponentRoll'}}</label>
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='opponentPool'}}
        {{>'systems/mwd/templates/roll/roll-parameters-category.hbs' parameters=parameters category='opponentReroll'}}
      </div>
    </div>
  </div>
  <footer class="dialog-buttons">
    <button type="button" class="dialog-button" data-action="cancel">
      {{localize 'ANARCHY.common.cancel'}}
    </button>
    <button type="button" class="dialog-button" data-action="roll">
      {{localize 'ANARCHY.common.roll.button'}}
    </button>
  </footer>
</form>
