<div class="define-item-type item anarchy-asset-module {{#if system.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="assetModule">
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" data-tooltip="{{name}}" />
  <div class="asset-module-content">
    <label class="item-title">{{name}}</label>
    {{#if system.level}}<label class="item-subtitle">{{localize 'ANARCHY.item.assetModule.levelShort'}} {{system.level}}</label>{{/if}}
    {{> 'systems/mwd/templates/actor/character/description.hbs' description=system.description}}
  </div>
  <div class="item-controls">
    {{> 'systems/mwd/templates/common/item-control-activate.hbs'}}
    {{> 'systems/mwd/templates/common/item-controls.hbs'}}
  </div>
</div>
