<div class="define-item-type" data-item-type="mechWeapon">
  <h2 class="section-group-header">
    {{localize 'ANARCHY.actor.battlemech.weapons.title'}}
    {{> 'systems/mwd/templates/common/item-control-add.hbs' itemType='mechWeapon'}}
  </h2>
  {{#if items.mechWeapon.length}}
  <table class="anarchy-table battlemech-weapons-table">
    <thead>
      <tr>
        <th>{{localize 'ANARCHY.actor.battlemech.weapons.weapon'}}</th>
        <th>{{localize 'ANARCHY.actor.battlemech.weapons.category'}}</th>
        <th>{{localize 'ANARCHY.actor.battlemech.weapons.mount'}}</th>
        <th>{{localize 'ANARCHY.actor.battlemech.weapons.hardpoint'}}</th>
        <th>{{localize 'ANARCHY.actor.battlemech.weapons.heat'}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each items.mechWeapon as |weapon|}}
      <tr class="item {{#if weapon.system.inactive}}inactive{{/if}}" data-item-id="{{weapon._id}}" data-item-type="{{weapon.type}}">
        <td><a class="click-weapon-roll">{{weapon.name}}</a></td>
        <td>{{localize (lookup ../ANARCHY.mwd.weaponCategory weapon.system.weaponCategory)}}</td>
        <td>
          {{#if weapon.system.mountLocation}}
            {{localize (lookup ../ANARCHY.mwd.meleeLocation weapon.system.mountLocation)}}
          {{else}}
            {{localize 'ANARCHY.actor.battlemech.weapons.mountUnknown'}}
          {{/if}}
        </td>
        <td>{{localize (lookup ../ANARCHY.mwd.hardpointType weapon.system.hardpointType)}}, {{localize (lookup ../ANARCHY.mwd.hardpointSize weapon.system.hardpointSize)}}</td>
        <td>{{weapon.system.heat}}</td>
        <td class="item-controls">
          {{> 'systems/mwd/templates/common/favorite.hbs'
            isFavorite=(actorHasFavorite @root.actor.id id=weapon._id type=weapon.type)
            weapon=weapon
          }}
          {{> 'systems/mwd/templates/common/item-control-activate.hbs'}}
          {{> 'systems/mwd/templates/common/item-controls.hbs'}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    <p class="empty-state">{{localize 'ANARCHY.actor.battlemech.weapons.none'}}</p>
  {{/if}}
</div>
