<div class="battlemech-weapon-groups">
  <h3 class="section-group-header">{{localize 'ANARCHY.actor.battlemech.weaponGroups.title'}}</h3>
  <div class="group-mountpoints">
    <span>{{localize 'ANARCHY.actor.battlemech.weaponGroups.mountPoints' used=system.mwd.loadout.mountPoints.used total=system.mwd.loadout.mountPoints.total}}</span>
    {{#if system.mwd.loadout.primaryGroupId}}
      <span class="primary-label">{{localize 'ANARCHY.mwd.loadout.primaryTag'}}{{#if system.mwd.primaryGroupName}}: {{system.mwd.primaryGroupName}}{{/if}}</span>
    {{/if}}
  </div>
  {{#if system.mwd.weaponGroupDetails.length}}
  <table class="anarchy-table">
    <thead>
      <tr>
        <th>{{localize 'ANARCHY.actor.battlemech.weaponGroups.group'}}</th>
        <th>{{localize 'ANARCHY.actor.battlemech.weaponGroups.weapons'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each system.mwd.weaponGroupDetails as |group|}}
      <tr>
        <td>
          <div class="group-name">{{group.name}}</div>
          {{#if group.isPrimary}}
            <span class="primary-label">{{localize 'ANARCHY.mwd.loadout.primaryTag'}}</span>
          {{/if}}
        </td>
        <td>
          {{#if group.weapons.length}}
          <ul class="weapon-list">
            {{#each group.weapons as |weapon|}}
              <li class="item" data-item-id="{{weapon._id}}" data-item-type="{{weapon.type}}">
                <a class="click-weapon-roll">{{weapon.name}}</a>
                {{#if weapon.system.mountLocation}}
                  <span class="weapon-location">({{localize (lookup ../../ANARCHY.mwd.meleeLocation weapon.system.mountLocation)}})</span>
                {{/if}}
              </li>
            {{/each}}
          </ul>
          {{/if}}
          {{#if group.missingWeaponIds.length}}
          <ul class="weapon-list missing-weapons">
            {{#each group.missingWeaponIds as |missing|}}
              <li class="missing-weapon">{{localize 'ANARCHY.actor.battlemech.weaponGroups.missingWeapon' missingId=missing}}</li>
            {{/each}}
          </ul>
          {{/if}}
          {{#unless group.weapons.length}}
            <p class="empty-state">{{localize 'ANARCHY.actor.battlemech.weaponGroups.empty'}}</p>
          {{/unless}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    <p class="empty-state">{{localize 'ANARCHY.actor.battlemech.weaponGroups.none'}}</p>
  {{/if}}
</div>
