<div class="item life-module {{#if system.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="lifeModule" draggable="true">
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" data-tooltip="{{name}}"/>
  <span class="life-module-name">{{name}}</span>
  <div class="item-controls">
    {{> 'systems/mwd/templates/common/item-controls.hbs'}}
  </div>
</div>
