<li class="define-item-type item anarchy-weapon {{#if system.inactive}}inactive{{/if}}" draggable="true"
    data-item-id="{{_id}}" data-item-type="weapon">
  <div class="weapon-column weapon-img">
    <a class="click-weapon-roll">
      <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" data-tooltip="{{name}}"/>
    </a>
  </div>
  <div class="weapon-column weapon-txt">
    <a class="click-weapon-roll">{{name}}</a>
    {{>'systems/mwd/templates/actor/character/description.hbs' description=system.description}}
  </div>
  <div class="weapon-column weapon-dmg">
    {{> 'systems/mwd/templates/common/damage-code.hbs'
      damageAttribute=system.damageAttribute
      actorAttribute=(actorAttribute system.damageAttribute @root.actor this)
      damage=system.damage
      monitor=system.monitor
      armor=(weaponArmorMode system.monitor system.noArmor)
    }}
  </div>
  <div class="weapon-column weapon-stat">
    {{localize (concat 'ANARCHY.area.' (either system.area 'none'))}}
  </div>
  {{#each (weaponRangeList system.range)}}
  <div class="weapon-column weapon-stat">
    {{#if allowed}}{{either value 'OK'}}{{else}}-{{/if}}
  </div>
  {{/each}}
  <div class="weapon-column weapon-stat">
    {{#if hasDrain}}
    {{system.drain}}
    {{/if}}
  </div>
  <div class="weapon-column weapon-controls item-controls">
    {{> 'systems/mwd/templates/common/favorite.hbs'
      isFavorite=(actorHasFavorite @root.actor.id id=_id type=type)
      weapon=this
    }}
    {{> 'systems/mwd/templates/common/item-control-activate.hbs'}}
    {{> 'systems/mwd/templates/common/item-controls.hbs'}}
  </div>

</li>
