{{#if options.limited}}
{{>"systems/mwd/templates/actor/character-limited.hbs"}}
{{else}}
<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="passport-header">
      <div class="passport-img">
        <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}" />
      </div>
      <div class="passport-column">
        <div class="passport-details-row">
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/name.hbs"}}
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/genre.hbs"}}
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/capacity.hbs"}}
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/karma.hbs"}}
          </div>
        </div>
        <div class="passport-action-row">
          <div class="passport-action">
            {{> "systems/mwd/templates/actor/parts/attributebuttons.hbs"}}
          </div>
          {{#if ownerActor}}
          <div class="passport-owner">
            {{> 'systems/mwd/templates/actor/parts/ownership.hbs'}}
          </div>
          {{/if}}
        </div>
      </div>
      <div class="section-group monitors-row">
        {{> "systems/mwd/templates/monitors/physical.hbs"}}
        {{> "systems/mwd/templates/monitors/fatigue.hbs"}}
      </div>
      {{> "systems/mwd/templates/common/view-mode.hbs"}}
    </div>
      <div class="flexrow">
        <div class="section-attributes anarchy-attributes flexrow">
          {{> "systems/mwd/templates/actor/parts/attributes.hbs"}}
        </div>
        <div class="anarchy-block">
          {{> "systems/mwd/templates/monitors/armor.hbs"}}
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="sheet-tab" data-tab="main">
      <a>{{localize ANARCHY.actor.tabs.main}}</a>
    </div>
    <div class="sheet-tab" data-tab="equipment">
      <a>{{localize ANARCHY.actor.tabs.equipment}}</a>
    </div>
    <div class="sheet-tab" data-tab="biography">
      <a>{{localize ANARCHY.actor.tabs.biography}}</a>
    </div>
    <div class="sheet-tab-fill"></div>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="main">
      <div class="section-group monitors-row">
        <div class="anarchy-block">
          {{> "systems/mwd/templates/monitors/edge.hbs"}}
        </div>
        <div class="anarchy-block anarchy-bar">
          {{> "systems/mwd/templates/monitors/anarchy-actor.hbs"}}
        </div>
      </div>
      <div class="section-group anarchy-words-section">
        <div class="anarchy-words anarchy-keywords">
        {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='keywords' values=system.keywords}}
        </div>
        <div class="anarchy-words anarchy-cues">
        {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='cues' values=system.cues}}
        </div>
        <div class="anarchy-words anarchy-dispositions">
        {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='dispositions' values=system.dispositions}}
        </div>
      </div>
      <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/skills.hbs"}}
      </div>
      <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/shadowamps.hbs"}}
      </div>
      <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/qualities.hbs"}}
      </div>
      <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/weapons.hbs"}}
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="equipment">
      <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/weapons.hbs"}}
      </div>
      <div class="section-group items-group">
        {{> "systems/mwd/templates/actor/parts/cyberdecks.hbs"}}
      </div>

      <div class="section-group items-group">
        {{> "systems/mwd/templates/actor/parts/owned-actors.hbs"}}
      </div>
      <div class="section-group items-group">
        {{> "systems/mwd/templates/actor/parts/gears.hbs"}}
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="biography">
      <div class="section-group monitors-row">
        {{> "systems/mwd/templates/actor/character/social-celebrity.hbs"}}
        {{> "systems/mwd/templates/monitors/social-credibility.hbs"}}
        {{> "systems/mwd/templates/monitors/social-rumor.hbs"}}
      </div>

      <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/contacts.hbs"}}
      </div>

      <div class="anarchy-block">
        {{> 'systems/mwd/templates/actor/parts/description.hbs'}}
        {{> 'systems/mwd/templates/actor/parts/gmnotes.hbs'}}
      </div>
    </div>
  </section>
</form>
{{/if}}