<form class="{{options.cssClass}} character-sheet" autocomplete="off">
  <header class="sheet-header">
    <div class="passport-header">
      <div class="passport-img">
        <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}" />
      </div>
      <div class="passport-column">
        {{> "systems/mwd/templates/actor/parts/passport-details.hbs"}}
        <div class="passport-action-row">
          <div class="passport-action">
            {{> "systems/mwd/templates/actor/parts/attributebuttons.hbs"}}
          </div>
          {{#if ownerActor}}
          <div class="passport-action">
            {{> 'systems/mwd/templates/actor/parts/ownership.hbs'}}
          </div>
          {{/if}}
        </div>
      </div>
      {{> "systems/mwd/templates/common/view-mode.hbs"}}
    </div>
  </header>

  <section class="sheet-body">
    <div class="section-attributes anarchy-attributes">
      {{> "systems/mwd/templates/actor/parts/attributes.hbs"}}
    </div>

    <div class="section-group anarchy-words-section">
      <div class="anarchy-words anarchy-keywords">
      {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='keywords' values=system.keywords}}
      </div>
      <div class="anarchy-words anarchy-cues">
      {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='cues' values=system.cues}}
      </div>
      <div class="anarchy-words anarchy-dispositions">
      {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='dispositions' values=system.dispositions}}
      </div>
    </div>

    <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/skills.hbs"}}
      {{> "systems/mwd/templates/actor/parts/life-modules.hbs"}}
    </div>

    <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/asset-modules.hbs"}}
      {{> "systems/mwd/templates/actor/parts/qualities.hbs"}}
    </div>

    <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/weapons.hbs"}}
      {{> "systems/mwd/templates/actor/parts/gears.hbs"}}
    </div>

    <div class="section-group items-group">
      {{> "systems/mwd/templates/actor/parts/contacts.hbs"}}
      {{#if ownedActors}}
      {{> "systems/mwd/templates/actor/parts/owned-actors.hbs"}}
      {{/if}}
    </div>

    <div class="section-group monitors-row">
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/armor.hbs"}}
      </div>
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/physical.hbs"}}
      </div>
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/fatigue.hbs"}}
      </div>
      <div class="anarchy-block flexcol">
        {{> "systems/mwd/templates/monitors/edge.hbs"}}
        {{> "systems/mwd/templates/monitors/anarchy-actor.hbs"}}
      </div>
    </div>

    <div class="section-group items-group">
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/edge-pool.hbs"}}
      </div>
      <div class="anarchy-block experience-block">
        <h3 class="section-group-header">{{localize 'ANARCHY.actor.counters.xp'}}</h3>
        <div class="experience-grid">
          <label for="system.counters.xp.value">{{localize 'ANARCHY.actor.counters.current'}}</label>
          <input type="number" name="system.counters.xp.value" value="{{system.counters.xp.value}}" data-dtype="Number" {{#if options.viewMode}}disabled{{/if}} />
          <label for="system.counters.xp.total">{{localize 'ANARCHY.actor.counters.lifetime'}}</label>
          <input type="number" name="system.counters.xp.total" value="{{system.counters.xp.total}}" data-dtype="Number" {{#if options.viewMode}}disabled{{/if}} />
        </div>
      </div>
      <div class="anarchy-block">
        {{> "systems/mwd/templates/actor/character/social-celebrity.hbs"}}
        {{> "systems/mwd/templates/monitors/social-credibility.hbs"}}
        {{> "systems/mwd/templates/monitors/social-rumor.hbs"}}
      </div>
    </div>

    <div class="anarchy-block">
      {{> 'systems/mwd/templates/actor/parts/description.hbs'}}
      {{> 'systems/mwd/templates/actor/parts/gmnotes.hbs'}}
    </div>
  </section>
</form>
