<form class="{{options.cssClass}} vehicle-sheet" autocomplete="off">
  <header class="sheet-header">
    <div class="passport-header">
      <div class="passport-img">
        <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}" />
      </div>
      <div class="passport-column">
        <div class="passport-details-row">
          <div class="passport-detail">
            <input class="info-value" name="name" type="text" value="{{data.name}}" placeholder="{{localize ANARCHY.actor.actorName}}"/>
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/vehicle/vehicle-category.hbs"}}
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/vehicle/vehicle-skill.hbs"}}
          </div>
          <div class="passport-detail">
            {{> 'systems/mwd/templates/actor/parts/ownership.hbs'}}
          </div>
          {{> "systems/mwd/templates/actor/vehicle/vehicle-pilot.hbs"}}
          {{> "systems/mwd/templates/actor/vehicle/vehicle-crew.hbs"}}
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="sheet-layout vehicle-layout">
      <div class="sheet-column">
        <div class="section-attributes anarchy-attributes anarchy-block">
          {{> "systems/mwd/templates/actor/vehicle/vehicle-attributes.hbs"}}
        </div>

        <div class="vehicle-monitor-grid">
          <div class="anarchy-block">
          {{> "systems/mwd/templates/monitors/structure.hbs"}}
          </div>
          <div class="anarchy-block">
          {{> "systems/mwd/templates/monitors/armor.hbs"}}
          </div>
        </div>

        <div class="anarchy-block">
        {{> "systems/mwd/templates/actor/npc-parts/asset-modules.hbs"}}
        </div>
      </div>

      <div class="sheet-column sidebar">
        <div class="anarchy-block">
        {{> "systems/mwd/templates/actor/vehicle/vehicle-weapons.hbs"}}
        </div>
        <div class="anarchy-block">
          {{> 'systems/mwd/templates/actor/parts/description.hbs'}}
          {{> 'systems/mwd/templates/actor/parts/gmnotes.hbs'}}
        </div>
      </div>
    </div>
  </section>
</form>