{{#if quickAction}}
<div class="quick-action-summary">
  {{#if quickAction.weaponGroup}}
    <div class="quick-action-line">
      <span class="chat-label">{{localize 'ANARCHY.actor.vehicle.quickActions.weaponGroup'}}:</span>
      <span>{{quickAction.weaponGroup.name}}</span>
      {{#if quickAction.weaponGroup.isPrimary}}
        <span class="tag">{{localize 'ANARCHY.actor.vehicle.quickActions.primaryLabel'}}</span>
      {{/if}}
    </div>
    {{#if quickAction.weaponGroup.weaponNames}}
      <div class="quick-action-line subtle">{{localize 'ANARCHY.actor.vehicle.quickActions.weaponsUsed'}}: {{#each quickAction.weaponGroup.weaponNames}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</div>
    {{/if}}
  {{/if}}

  {{#if quickAction.meleeProfile}}
    <div class="quick-action-line">
      <span class="chat-label">{{localize 'ANARCHY.actor.vehicle.quickActions.meleeProfile'}}:</span>
      <span>{{quickAction.meleeProfile.name}}</span>
    </div>
    {{#if quickAction.meleeProfile.damage}}
      <div class="quick-action-line subtle">{{localize 'ANARCHY.actor.vehicle.quickActions.meleeDamage'}}: {{quickAction.meleeProfile.damage}}</div>
    {{/if}}
    {{#if quickAction.meleeProfile.notes}}
      <div class="quick-action-line subtle">{{quickAction.meleeProfile.notes}}</div>
    {{/if}}
  {{/if}}

  {{#if quickAction.skillName}}
    <div class="quick-action-line">
      <span class="chat-label">{{localize 'ANARCHY.actor.vehicle.quickActions.skillUsed'}}:</span>
      <span>{{quickAction.skillName}}</span>
    </div>
  {{/if}}
</div>
{{/if}}
