<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}"/>
    {{> 'systems/mwd/templates/item/parts/itemname.hbs'
      labelkey='ANARCHY.itemType.singular.lifeModule'
      type="lifeModule"
    }}
  </header>
  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="sheet-tab" data-tab="main">
      <a>{{localize ANARCHY.item.tabs.main}}</a>
    </div>
    <div class="sheet-tab-fill"></div>
  </nav>

  <section class="sheet-body">
    <div class="tab section-group" data-group="primary" data-tab="main">
      <div class="form-group">
        <label for="system.moduleType">{{localize 'ANARCHY.item.lifeModule.moduleType'}}</label>
        <select name="system.moduleType">
          {{#each ENUMS.lifeModuleTypes}}
          <option value="{{value}}" {{#if (eq ../system.moduleType value)}}selected{{/if}}>{{localize labelkey}}</option>
          {{/each}}
        </select>
      </div>
      {{> 'systems/mwd/templates/item/parts/inactive.hbs'}}
      {{> 'systems/mwd/templates/item/parts/references.hbs'}}
    </div>
  </section>
</form>
