<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}"/>
    {{> 'systems/mwd/templates/item/parts/itemname.hbs'
      labelkey=(concat 'ANARCHY.itemType.singular.' type)
      type=type
    }}
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="sheet-tab" data-tab="main">
      <a>{{localize ANARCHY.item.tabs.main}}</a>
    </div>
    <div class="sheet-tab" data-tab="modifiers">
      <a>{{localize ANARCHY.item.tabs.modifiers}}</a>
    </div>
    <div class="sheet-tab-fill"></div>
  </nav>

  <section class="sheet-body">
    <div class="tab section-group" data-group="primary" data-tab="main">
      <div class="form-group">
        <label for="system.weaponCategory">{{localize 'ANARCHY.item.mechWeapon.category'}}</label>
        <select name="system.weaponCategory">
          {{selectOptions ENUMS.mwdWeaponCategories selected=system.weaponCategory labelAttr="labelkey" localize=true blank=''}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize 'ANARCHY.item.mechWeapon.hardpoint'}}</label>
        <div class="flexrow">
          <select name="system.hardpointType">
            {{selectOptions ENUMS.mwdHardpointTypes selected=system.hardpointType labelAttr="labelkey" localize=true blank=''}}
          </select>
          <select name="system.hardpointSize">
            {{selectOptions ENUMS.mwdHardpointSizes selected=system.hardpointSize labelAttr="labelkey" localize=true blank=''}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="system.damage">{{localize 'ANARCHY.item.mechWeapon.damage'}}</label>
        <input class="type-numeric" type="number" data-dtype="Number" name="system.damage" value="{{system.damage}}" />
      </div>
      <div class="form-group">
        <label for="system.damageType">{{localize 'ANARCHY.item.mechWeapon.damageType'}}</label>
        <select name="system.damageType">
          {{selectOptions ENUMS.mwdWeaponDamageTypes selected=system.damageType labelAttr="labelkey" localize=true blank=''}}
        </select>
      </div>
      <div class="form-group">
        <label for="system.heat">{{localize 'ANARCHY.item.mechWeapon.heat'}}</label>
        <input class="type-numeric" type="number" data-dtype="Number" name="system.heat" value="{{system.heat}}" />
      </div>
      <div class="form-group">
        <label for="system.area" >{{localize 'ANARCHY.item.mechWeapon.area'}} </label>
        <select name="system.area" data-dtype="String">
          {{selectOptions ENUMS.areas selected=system.area labelAttr="labelkey" localize=true blank=''}}
        </select>
      </div>
      <div class="form-group">
          <label for="system.range.max" >{{localize 'ANARCHY.item.mechWeapon.range.max'}} </label>
          <select name="system.range.max">
            {{selectOptions ENUMS.ranges selected=system.range.max labelAttr="labelkey" localize=true blank=''}}
          </select>
      </div>
      {{#each (weaponRangeList system.range)}}
        {{#if allowed}}
        <div class="form-group">
            <label for="system.range.{{key}}" >{{localize (concat 'ANARCHY.range.' key)}} </label>
            <input class="type-numeric" type="number" data-dtype="Number"
              name="system.range.{{key}}" value="{{numberFormat value decimals=0 sign=false}}"
            />
        </div>
        {{/if}}
      {{/each}}
      {{> 'systems/mwd/templates/item/parts/inactive.hbs'}}
      {{> 'systems/mwd/templates/item/parts/references.hbs'}}
    </div>
    <div class="tab section-group" data-group="primary" data-tab="modifiers">
      <div class="form-group">
        {{> 'systems/mwd/templates/item/parts/modifiers.hbs'}}
      </div>
    </div>
  </section>
</form>
