<span class="flexrow parameter-label">
  <label class="parameter-label">
  {{> 'systems/mwd/templates/common/label.hbs' this}}
  </label>
  {{#if flags.optional}}
    <input class="parameter-selection check-optional"
      type="checkbox" {{checked used}} />
  {{/if}}
</span>
{{#if (eq category 'pool')}}
<span class="flexrow">
  <input disabled class="parameter-value info-value" type="number" data-dtype="Number" maxlength="2"
    value="{{either value 0}}"/>
  <div class="input-cursor-parameter">
    {{>'systems/mwd/templates/roll/parts/dice-cursor.hbs' value=value min=min max=max editable=flags.editDice}}
  </div>
</span>
{{else}}
  <label class="parameter-value info-value"></label>
{{/if}}
{{#if edgePools}}
<span class="flexrow edge-pool-select-row">
  <label class="parameter-label info-label">{{localize 'ANARCHY.common.roll.modifiers.edgePool'}}</label>
  <select class="edge-pool-select info-value" {{#unless used}}disabled{{/unless}}>
    {{#each edgePools}}
      <option value="{{code}}" {{#if (eq ../pool code)}}selected{{/if}} {{#unless value}}disabled{{/unless}}>
        {{localize label}} ({{value}})
      </option>
    {{/each}}
  </select>
</span>
{{/if}}
